* {
	color:#817E7E;
}
header{
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	background-image:url(images/background.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% ; 
	height: 150px;
}
.title-color,
.title-color  i {
	color: #E5CEFA;
	font-family: sans-serif, Helvetica;
	padding: 20px;
}
.about-me{
	width: 100%;
	height: 200px;
}