* {
	padding: 0;
	margin: 0;
	color:#817E7E;
}
header{
	background-color: #ffffff;
	background-image:url(images/background.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% ; 
	height: 150px;
}
.title-color,
.title-color  i {
	color: #E5CEFA;
	font-family: sans-serif, Helvetica;
	padding: 20px;
}
.about-me{
	width: 100%;
	height: 200px;
}
footer{
	background-color: #0D1E37;
	text-align:center;
	width:100%;
	bottom:0;
	height: 100px;
}
footer p{
	color:#D4D5EC;
	padding: 10px;
}

.fa-heart{
	color:#F37BAB;
}

.contact-me form{
	
	padding:10%;
}
.projects{
	padding:10%;
}
